body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

header {
  padding: 20px;
  text-align: center;
  background: #020617;
}

input {
  padding: 10px;
  width: 260px;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 30px;
}

.game {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.game:hover {
  transform: scale(1.05);
  background: #334155;
}
